node_modules/*
*.zip
ressources/*
ressources/Metadaten_Geraete_Lufttemperatur_00150.html
ressources/Metadaten_Geraete_Lufttemperatur_00150.txt
ressources/Metadaten_Geraete_Rel_Feuchte_00150.html
ressources/Metadaten_Geraete_Rel_Feuchte_00150.txt
ressources/Metadaten_Parameter_tu_stunde_00150.html
ressources/Metadaten_Parameter_tu_stunde_00150.txt
npm-debug.log
data/
*.txt
data/01766TU/Metadaten_Geraete_Rel_Feuchte_01766.html
data/01766TU/Metadaten_Geographie_01766.txt
data/01766TU/Metadaten_Geraete_Lufttemperatur_01766.html
data/01766TU/Metadaten_Geraete_Lufttemperatur_01766.txt
data/01766TU/Metadaten_Geraete_Rel_Feuchte_01766.txt
data/01766TU/Metadaten_Parameter_tu_stunde_01766.html
data/01766TU/Metadaten_Parameter_tu_stunde_01766.txt
data/01766TU/Metadaten_Stationsname_01766.html
data/01766TU/Metadaten_Stationsname_01766.txt
data/01766TU/produkt_tu_stunde_20170114_20180717_01766.txt
data/01766_P0/Metadaten_Geographie_01766.txt
data/01766_P0/Metadaten_Geraete_Luftdruck_Reduziert_01766.html
data/01766_P0/Metadaten_Geraete_Luftdruck_Reduziert_01766.txt
data/01766_P0/Metadaten_Geraete_Luftdruck_Stationshoehe_01766.html
data/01766_P0/Metadaten_Geraete_Luftdruck_Stationshoehe_01766.txt
data/01766_P0/Metadaten_Parameter_p0_stunde_01766.html
data/01766_P0/Metadaten_Parameter_p0_stunde_01766.txt
data/01766_P0/Metadaten_Stationsname_01766.html
data/01766_P0/Metadaten_Stationsname_01766.txt
data/01766_P0/produkt_p0_stunde_20170114_20180717_01766.txt
data/01766_TU/Metadaten_Geographie_01766.txt
data/01766_TU/Metadaten_Geraete_Lufttemperatur_01766.html
data/01766_TU/Metadaten_Geraete_Lufttemperatur_01766.txt
data/01766_TU/Metadaten_Geraete_Rel_Feuchte_01766.html
data/01766_TU/Metadaten_Geraete_Rel_Feuchte_01766.txt
data/01766_TU/Metadaten_Parameter_tu_stunde_01766.html
data/01766_TU/Metadaten_Parameter_tu_stunde_01766.txt
data/01766_TU/Metadaten_Stationsname_01766.html
data/01766_TU/Metadaten_Stationsname_01766.txt
data/01766_TU/produkt_tu_stunde_20170114_20180717_01766.txt
